[submodule "Diorama-BE"]
	path = Diorama-BE
	url = git@github.com:girvinjunod/Diorama-BE.git
	branch = main
[submodule "Diorama-FE"]
	path = Diorama-FE
	url = git@github.com:girvinjunod/Diorama-FE.git
	branch = main
